<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>913699579564-bl8aumsujlfgmfltcirpp2eeipi5ri7u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.913699579564-bl8aumsujlfgmfltcirpp2eeipi5ri7u</string>
	<key>API_KEY</key>
	<string>AIzaSyAJ3xqu9WUMu2abEq8VH6yu-2bcnb6BJIc</string>
	<key>GCM_SENDER_ID</key>
	<string>913699579564</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>root.Tag-Trainer</string>
	<key>PROJECT_ID</key>
	<string>tagtrainer-276b7</string>
	<key>STORAGE_BUCKET</key>
	<string>tagtrainer-276b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:913699579564:ios:cffcb9775a0db82820a109</string>
</dict>
</plist>